img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(15deg, goldenrod, #000000);
}

p {
  text-align: center;
  margin: auto;
  color: white;
}


/* The Honeycomb aka Hex Grid */
.hexGrid {
  width: 1000px;
  margin-bottom: 100px;
}

.hexGridA {
  width: 960px; /* (.hex.width x 0.75) x (..grid-auto-rows x2) + ((.hex.width x 0.1) x 3), for size + (10px) space between hexes */
  height: 92px; /* (.hex.height / 2) + (space between hexes / 2) */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}

.hexGridB {
  width: 960px;
  height: 92px; /* (.hex.height / 2) + (space between hexes / 2)S */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px; /* original value */
  margin-left: 160px; /* (.hex.width x 0.75) + (..grid-auto-rows x 0.10), for size + (10px) space between hexes (.hexGridA and .hexGridB) */
}


/* Hexagons */
.hex {
  display: flex;
  position: relative;
  width: 200px; /* ..grid-auto-rows x 2, to creates overflow to grid-auto-rows */
  height: 174px; /* ..grid-auto-rows x 2, to creates overflow to grid-auto-rows */
  background: linear-gradient(15deg, #424242, #000000);
  clip-path: polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
}

.hex:hover {
  background: linear-gradient(15deg, goldenrod, #000000);
  transition: 5s;
}

